<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group" *ngFor="let cat of categories | async">
          <a href="#" class="list-group-item">{{cat.name}}</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          <br><br>
          <form [formGroup]="search_form" (ngSubmit)="searchProduct(search_form.value)">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName= "search_input">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>    </form>
            <br><br>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | async">
            <div class="card h-100">
            <a href="catalog/{{product.id}}"><img class="card-img-top" src="{{product.imgUrl}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="catalog/{{product.id}}">{{product.name}}</a>
                </h4>
                <h5>{{product.description}} </h5>
                <h6>{{product.price}} €</h6>
                <p class="card-text"> stock: {{product.quantity}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
