<div  class="container" *ngIf="!connected">
    <div class="form-group" >
      <label for="exampleInputEmail1">Address Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" >
      <label for="exampleInputPassword1">Most de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl] = "password">
      <div *ngIf="register">
        <div class="form-group" >
                <label for="exampleInputEmail1">Nom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
        <div class="form-group" >
                <label for="exampleInputEmail1">Prénom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
        <div class="form-group" >
                <label for="exampleInputEmail1">Téléphone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
    <div class="form-group" >
      <label for="exampleInputEmail1">Addresse</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" >
        <label for="exampleInputEmail1">Code Postal</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group" >
        <label for="exampleInputEmail1">Ville</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl] = "firstname">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
</div>
    </div>
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <a  (click)="connect()" routerLink="/account" routerLinkActive="active" class="btn btn-success" *ngIf="!register">Se connecter !</a>
          </li>
      <li class="list-inline-item">
        <h5 class="mb-1">Pas de compte ?</h5>
      </li>
      <li class="list-inline-item">
        <a  routerLink="/account" routerLinkActive="active" class="btn btn-danger btn-rounded" *ngIf="!register" (click)="displayRegisterForm()">S'enregistrer !</a>
      </li>
    </ul>
    <!-- Call to action -->
<div class="form-group" >
    <a  (click)="connect()" routerLink="/account" routerLinkActive="active" class="btn btn-success" *ngIf="register">Crée un compte !</a>
        </div>
</div>


<div  class="container" *ngIf="connected">
    <div class="form-group" >
      <label for="exampleInputEmail1">Address Email : {{accountInfo.email}}</label>
    </div>
        <div class="form-group" >
                <label for="exampleInputEmail1">Nom : {{accountInfo.lastname}}</label>
              </div>
        <div class="form-group" >
                <label for="exampleInputEmail1">Prénom : {{accountInfo.firstname}}</label>
              </div>
        <div class="form-group" >
                <label for="exampleInputEmail1">Téléphone : {{accountInfo.phone}}</label>
              </div>
    <div class="form-group" >
      <label for="exampleInputEmail1">Addresse</label>
    </div>
    <div class="form-group" >
        <label for="exampleInputEmail1">Code Postal</label>
      </div>
      <div class="form-group" >
        <label for="exampleInputEmail1">Ville</label>
      </div>
      <a  (click)="disconnect()" routerLink="/account" routerLinkActive="active" class="btn btn-danger" >Déconnections !</a>

</div>
